.blocCenter {
    text-align: center;
}

.MenuRow, .BreadRow {
    display: flex;
    flex-direction: row;
}

.ui.vertical.text.menu .item {
    margin: 0;
}

.dateColor, .dateContrat {
    color: #FF7F50;
}

.perifColor {
    color: #3eb2e5;
}

.dateContrat, .nbActif {
    font-size: 24px;
    text-align: left;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    font-family: "Muli";
}


i.huge.icon {
    line-height: 1;
    vertical-align: middle;
    font-size: 36px;
    margin: 10px;
}


.blocText {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #656565;
    font-size: 11px;
    line-height: 10px;
}

h2 {
    text-align: left;
    font-size: 16px;
    color: #656565;
    padding-top: 20px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Muli";
}

.blocs {
    padding: 50px;
}