.bar:hover {
    fill: lightsalmon;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    color:#656565;
    border: solid 1px;
    padding: 5px;
 }

 .dropdown {
     min-width: 200px;
 }

 h3 {
    font-weight: 300;
    font-size: 18px;
    padding: 8px;
}